body {
  background-color: LAVENDER;
}

.containerStyle {
  height: 500px;
  width: 650px;
  border: 1px solid #5ce7ff;
  margin: auto;
  padding: 30px;
  margin-top: 80px;
  background-color: #f2fdff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionStyle {
  height: 120px;
  width: 450px;
  border: 1px solid;
  line-height: 120px;
  font-size: 60px;
  margin-top: 30px;
  background-color: #101935;
  color: white;
  transition: all 300ms ease;
  box-shadow: 3px 3px 3px 3px #dfdfdf;
}

.answerStyle {
  height: 120px;
  width: 500px;
  margin-top: 30px;
}

.buttonStyle {
  height: 70px;
  width: 400px;
}

.displayScore {
  font-size: 17px;
  background-color: #9ad4d6;
  padding: 5px;
}

.button {
  padding: 5px;
  height: 50px;
  width: 170px;
  border: none;
  border-radius: 6px;
  background-color: #2a418d;
  font-size: 22px;
  color: white;
  cursor: pointer;
}
.answerButton {
  height: 80px;
  width: 110px;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  border: 2px solid #ab87a5;
  background-color: #dbcbd8;
  box-shadow: 3px 3px 3px 3px #dfdfdf;
  margin-right: 7px;
}

.answerButton:hover {
  border: 3px solid #666;
  background-color: #cfcccc;
}

.answerButton:active,
.button:active {
  box-shadow: 0 5px #9f9f9f;
  transform: translateY(2px);
}

.para {
  margin-top: 25px;
  background-color: #6654a0;
  color: white;
  padding: 7px;
  font-size: 20px;
}
